.thumb span {
	background-image: url(../img/screen-clip-ie6.png);
	}

.thumb.video span {
	background-image: url(../img/video-screen-clip-ie6.png);
	background-position: 0 1px;
	}

.thumb.video:hover span {
	background-position: right 1px;
	}