html {
	margin: 0;
	padding: 0;
	text-align: center;
}

body {
	background-color: #fff;
	font: normal 14px/20px Helvetica, "Lucida Grande", Arial, Verdana, sans-serif;
	color: #464440;
	padding: 0;
	min-width: 980px;
	text-align: left;
	margin: 0 auto;
}

.clearer {
	height: 0;
	overflow: hidden;
	clear: both;
}

h1,h2,h3,h4,h5,h6 {
	color: #000;
	font-weight: normal;
	line-height: normal;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px
}

h4 {
	font-size: 18px;
}

a {
	text-decoration: none;
}

a:link {
	color: #00a2d8;
}

a:visited {
	color: #003648;
}

a:hover {
	color: #00b4f0;
	border-bottom: 1px solid #a09f91;
}

a:active {
	color: #ee7c08;
}


/* Furniture 
================= */

#header {
	height: 93px;
	background: #000;
	position: relative;
}

#header h1 {
	width: 393px;
	height: 48px;
	background: transparent url(../img/vaadin-logo.png);
	position: absolute;
	top: 33px;
	left: 50%;
	margin: 0;
	margin-left: -484px;
	text-indent: -9999px;
}

#version {
	position: absolute;
	left: 50%;
	top: 40px;
	color: #a09f91;
	text-align: right;
	width: 484px;
}

#version a {
	color: #00b4f0;
}
#version a:hover {
	border: none;
}
#version .release-notes,
#version .version-check {
	padding-left: 15px;
}

#version .version-check {
	display: none;
}

#subheader {
	position: relative;
	width: 968px;
	height: 57px;
	line-height: 57px;
	margin: 0 auto;
}

#subheader .links {
	width: 484px;
	position: absolute;
	top: 2px;
	left: 50%;
}

#subheader .links a {
	float: right;
	font-size: 12px;
	color: #a09f91;
	padding-left: 14px;
}

#subheader .links a:hover {
	border: none;
	color: #000;
}

#upfront {
	position: relative;
	height: 288px;
	background: #deddd3;
	font-size: 16px;
	line-height: 22px;
}

#sampler {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -484px;
	width: 476px;
}

#eclipse {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: 8px;
	width: 476px;
}

#sampler h2,
#eclipse h2 {
	padding-left: 140px;
	height: 48px;
	padding-top: 53px;
	background: transparent url(../img/sampler-logo.png) no-repeat left top;
}

#eclipse h2 {
	padding-left: 120px;
	background: transparent url(../img/eclipse-logo.png) no-repeat left top;
}

#upfront a {
	font-weight: bold;
}

#content {
	position: relative;
	overflow: hidden;
	margin: 28px 0 56px -484px;
	left: 50%;
	width: 968px;
}

#demos {
	position: absolute;
	left: 50%;
	width: 476px;
	margin-left: -484px;
}

#docs {
	position: relative;
	left: 50%;
	margin-left: 8px;
	width: 476px;
	top: 0;
}

#docs .tutorial {
	padding-left: 120px;
	background: transparent url(../img/address-book.png) no-repeat;
	height: 90px;
}

#docs .tutorial + ul {
	margin: -55px 0 0 100px;
}

#docs .documentation {
	padding-left: 120px;
	background: transparent url(../img/book-of-vaadin.png) no-repeat;
	height: 120px;
}
#docs .documentation + ul {
	margin: -75px 0 0 100px;
}

#footer {
	position: relative;
	background: #f4f4f0;
	overflow: hidden;
	padding: 14px 0 28px 0;
}

#open-source {
	position: absolute;
	top: 14px;
	left: 50%;
	width: 476px;
	margin-left: -484px;
}

#pro {
	position: relative;
	top: 0;
	left: 50%;
	margin-left: 8px;
	width: 476px;
}

#footer .slogan {
	position: relative;
	left: 50%;
	margin-left: -484px;
	color: #a09f91;
}


.codeblock {
	background: #f0efea;
	padding: 1em;
	margin: 1em 0;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
}

.codeblock h4 {
	margin-top: 0;
}