html {
	font-size: 100%;
	margin: 0;
	padding: 0;
}

body {
	-x-system-font: none;
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 62.5%;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1.6em;
	background: transparent url(../img/body-bg.gif) repeat-x 0 40px;
	margin: 0;
	parring: 0;
}

.clearer {
	height: 0;
	overflow: hidden;
	clear: both;
}

h1,h2,h3,h4,h5,h6 {
	color: #464440;
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 1.4em;
}

a {
	text-decoration: none;
}
a:link {
	color: #0066CC;
}

a:visited {
	color: #666;
}

a:hover {
	color: #ee7c08;
	text-decoration: underline;
}

a:active {
	color: #ee7c08;
}

a.more {
	padding-right: 10px;
	background: transparent url(../img/link-arrow.png) no-repeat center
		right;
}

a.more span {
	color: #5c666a;
}

a[name]:hover {
	color: #5c666a;
}

/* page furniture */
#container {
	width: 759px;
	margin: 0 auto;
}

#container .header {
	background: transparent url(../img/header.png) no-repeat 0 7px;
	height: 50px;
}

#container .content {
	padding: 10px 27px 20px 27px;
	width: 705px; /* for IE hasLayout, fixes beekaboo-bug */
}

.footer {
	margin-top: 30px;
	background: #D3D2C4;
	padding: 40px 20px 10px 10px;;
}

.footer a {
	font-size: 12px;
	font-weight: bold;
	color: #999;
	display: block;
	text-align: right;
	border: none;
	overflow: hidden; /* IE6 fix */
}


#container .header h1 {
	color: #fff;
	float: left;
	margin: 0 0 0 150px;
	font-size: 30px;
	background-color: #ee7c08;
	height: 45px;
	line-height: 35px;
	padding: 5px 10px 0 10px;
}

#header-links {
	text-align: right;
	padding: 13px 0 0px 0;
	height: 27px;
	/*background-color: #ee7c08;*/
}

#header-links a {
	color: #00B4F0;
	padding-right: 10px;
	border: none;
	font-size: 1.2em;
}

#container .header strong {
	position: absolute;
	margin: 20px 0 0 335px;
	font-size: 2em;
	color: #44adf9;
	font-weight: normal;
}

/* content area */
.content h3 {
	font-size: 14px;
	color: #39529b;
	height: 14px;
	padding: 4px 0 6px 0;
	letter-spacing: -0.02em;
}


#index .content h2 {
	padding-left: 34px;
}

.content p,.content li,.content pre {
	font-size: 12px;
}

#index .panel p,#index .panel li {
	font-size: 11px;
}
#getting-started {
	margin-top: 27px;
}
div#getting-started h4 {
	margin-top: 0px;
}

#demos h2.tutorial {
	margin-top: 1.4em;
}

#getting-started,#demos,#support-licensing {
	font-size: 1.3em;
}

#getting-started,#support-licensing,#package-contents,#feedback {
	width: 340px;
	float: right;
	clear: right;
}

#package-contents,#feedback {
	width: 300px;
}

#demos {
	width: 335px;	
	float: left;
	/*
	padding: 20px;
	background: #000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	*/
}

#getting-started h4,#demos h4,#support-licensing h4 {
	font-weight: bold;
	margin: 1em 0 0.2em 0;
}

#getting-started p,#demos p,#support-licensing p {
	margin: 0 0 1em 0;
}

.links,#demos ul.links {
	list-style: none;
	padding: 0;
	margin: -1em 0 1em 0;
	height: 1.8em;
}

.links li {
	float: left;
	margin-right: 1.5em;
}


/* demo icons */
#demos #sampler {
	xwidth: 345px;
	xheight: 138px;
	xbackground: transparent url(../img/sampler-btn.png) no-repeat;
	xmargin-top: -14px;
}

#sampler a {
	xdisplay: block;
	xwidth: 345px;
	xheight: 138px;
	xtext-indent: -90000px;
	xoutline: none;
}

#sampler span {
	position: relative;
	top: -34px;
	left: 140px;
}

#demos #address-book {
	width: 337px;
	height: 81px;
	background: transparent url(../img/address-book-btn.png) no-repeat;
	text-indent: -9000px;
	margin: 0 0 0.8em 0;
}

#address-book a {
	display: block;
	width: 337px;
	height: 81px;
	text-indent: -90000px;
	outline: none;
}

#demos ul {
	margin: 0.2em 0 1em 0;
	padding-left: 1.5em;
}

/* package contents */
.panel {
	width: 300px;
	padding: 0 17px 0 17px;
	background: #ecf0f3 url(../img/package-bg.png);
	overflow: hidden;
	font-size: 1.1em;
}

.panel .top {
	height: 5px;
	width: 334px;
	margin: 0 -17px 0 -17px;
	background: transparent url(../img/package-top.png);
	overflow: hidden;
}

.panel .bottom {
	height: 5px;
	width: 334px;
	margin: 0 -17px 0 -17px;
	background: transparent url(../img/package-bottom.png);
	overflow: hidden;
}

#package-contents {
	margin: 0;
}

#package-contents-content {
	margin: 13px 0 17px 0;
}

#package-contents ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#package-contents h3 {
	font-size: 1.1em;
	margin: 4px 0 5px 0;
	color: #5b7b93;
}

#package-contents em {
	font-size: 0.9em;
	font-style: normal;
	float: right;
	margin-top: -23px;
	color: #87a0b2
}

#package-contents h5 {
	font-weight: bold;
	margin: 0 0 0.2em 0;
	color: #3f5f77;
}

#package-contents p {
	margin: 0;
}

#package-contents .library {
	width: 143px;
	margin-right: 15px;
	float: left;
}

#package-contents .documentation {
	width: 134px;
	float: left;
}

#package-contents .support {
	clear: left;
	padding-top: 1.5em;
}

/* feedback box */
#feedback {
	margin-top: 8px;
}

#feedback h4 {
	font-size: 1.1em;
	margin: 4px 0 5px 0;
	color: #5b7b93;
}

#feedback form {
	margin: 0;
	padding: 0;
}

#feedback textarea {
	font-family: "Trebuchet MS", Tahoma, Geneva, Helvetica, Arial,
		sans-serif;
	border: solid 1px #c8cdd0;
	background: #fff;
	font-size: 1.1em;
	padding: 3px;
	width: 290px;
	height: 50px;
	margin: 2px 0;
	color: #5c666a;
}

#feedback .blur {
	color: #a0acb1;
}